@model DAMVC.DTO.Beer

<div>
    <h4>Beer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brewery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brewery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlcPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlcPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerceivedBitterness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerceivedBitterness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerceivedSweetness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerceivedSweetness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerceivedFruitiness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerceivedFruitiness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualIBU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualIBU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrinkingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrinkingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedByUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmittedByUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
